.navBar{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#logoDiv{
    background-color: green;
    height: 50px; 
    width: 100px;
}

#logoDiv a img{
    height: 40px;
}

.navMenu{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.navLinks{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0px;
    padding: 0px;
}

.navLinks :hover{
    color: blue;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    border-radius: 20px;
}

.searchBox{
    display: flex;
    align-items: center;
}